[class*="col-"] {
    height: 80px;
    min-height: 50px
    text-align: center;
}

.nav-bar {
    background-color: #2C3E50;
    padding: 1rem;
}

.logo, .menu, .image, .title, .star, h3, .form, .social, .address {
    background-color: white;
}

.jumbotron {
    background-color: #1ABC9C;
}


.portfolio {
    background-color: grey;
}
.portfolio .image {
    height: 200px;
    border-radius: 20px;
    margin-top: 2rem;
}

.about {
    background-color: #1ABC9C; 
}
.about .text{
    height: auto;
    padding-top: 2rem;
}

.contact {
    background-color: grey;
}
.contact .form {
    height: auto;
}
.contact .button {
    border-radius: 10px;
    background-color :#1ABC9C;
}

.mess {
    padding-top: 3rem;
}

footer {
    background-color: #486581;
}

footer .icons {
    background-color: white;
    height: 50px;
    margin-bottom: 2rem;
}


.copyright {
    background-color: #2C3E50;
}

@media screen and (min-width: 768px) {
    .image {
        padding: 0;
        margin: 0;
    }


    .text {
        padding-top: 0;
    }

    footer {
        line-height: 100%;
    }

    .address, .socials, .freelance {
        margin: 0;
        padding: 0;
        height: 100px;
    }
}
